*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; /*Conseguimos que las cajas no se desborden*/
}

body{
    font-family: 'Montserrat', sans-serif;
}



.padre{
    display: flex;
   /*  flex-direction: column;
    flex-wrap: nowrap; */
    flex-flow: column nowrap;
}

h2{

    align-items: right;
    text-align: right;
    font-size: 50px;
    background: linear-gradient(to right, blue, red);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.header{
    /*background: url(../img/VAPEANDO.svg);*/
    background: #000;
    background-position: center;
    background-attachment: contain;
    background-size: cover;
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
    
}


@keyframes typewriter{
    from{width: 0;}
    to{width: 13em;}
  }
  @keyframes blinkTextCursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
  }
  body{
    height: calc(100vh - 8em);
    height: 100vh;
    /*padding: 4em;*/
    color: rgba(255,255,255,.75);
    font-family: 'Anonymous Pro', monospace;  
    /*background-color: rgb(25,25,25);*/
  }
  .line-1{
      position: relative;
      top: 50%;  
      width: 24em;
      margin: 0 auto;
      border-right: 2px solid rgba(255,255,255,.75);
      font-size: 705%;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      transform: translateY(-50%);    
  }
  
  /* Animation */
  .anim-typewriter{
    animation: typewriter 4s steps(44) 1s 1 normal both,
                blinkTextCursor 500ms steps(44) infinite normal;
  }

    .menu{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
        height: 60px;
        background: rgba(0, 0, 0, 0.1);
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        position: fixed;
        width: 100%;
        background: #000;
        opacity: 0.7;
    }
    a{
        text-decoration: none;
    }
        .logo{
            flex: 1 1 auto;
            margin: 1.5%;
        }
            .logo a{
                color: #fff;
                font-size: 30px;
               
            }
            .logo a:hover{
                color: #343434;    
            }

        .nav{
            flex: 5 1 auto;
            justify-content: center;
        }
            .nav a{
                color: #fff;
                font-size: 11px;
                text-transform: uppercase;
                padding: 0px 10px;
                letter-spacing: 2px;
            }
            .nav a:hover{
                color: #343434;
            }
                
                        

        .social{
            justify-content: right;
            flex: 1 1 auto;
            display: flex;
            flex-flow: row nowrap;
            text-align: right;
       }
            .social a{
                color: #fff;
                font-size: 18px;
                padding: 0px 16px;
            }
            .social a:hover{
                color: #343434;
            }
    .textoprincipal{
        height: 580px;
        display: flex;
        align-items: center;
    }
    h1{
        font-family: 'Lora',sans-serif;
        font-size: 21px;
        color: #fff;
        font-weight: 300;
        text-align: center;
        line-height: 1.6;
    }
    .section{
        background: #fff;
        display: flex;
    }
        .articulos{
            background: #fff;
            display: flex;
            flex-flow: row wrap;
            flex: 2 1 70%;
            width: auto;
            height: auto;
            text-align: left;
            padding-top: 0px;
        }
            .article{
                color: #444;
                font-size: 13px;
                letter-spacing: 1px;
                margin: 10px 10px 0 0;
                flex: 1 1 45%;
                background: #ececec;
                align-items: center;
                padding: 10px;  
                text-align: center;
            }
                .article img{
                    width: auto;
                    height: auto;
                    align-items: center;
                }
                    .article H3{
                        color: #fff;
                        font-size: 13px;
                        padding: 10px 10px;
                        margin-top: -80px;
                    }
                    .article H2{
                        color: #fff;
                        font-size: 25px;
                        text-transform: uppercase;
                        padding: 5px 5px 10px 20px;
                        text-align: left;
                    }
                    .article P{
                        font-size: 25px;
                        text-align: left;
                    }
                    .article a{
                        color: #fff;
                        font-size: 13px;
                        padding: 10px;
                        background: #000;
                        margin: 10px 0px;
                        display: inline-block;
                    }
                    .article a:hover{
                        background: #00ff40;
                    }
            .navegacion{
                background: #000;
                flex: 1 1 100%;
                margin: 10px 10px 0px 0px;
            }
                .navegacion a{
                    color: #fff;
                    font-size: 11px;
                    text-transform: uppercase;
                    padding: 0px 10px;
                    letter-spacing: 2px;
                }
    .aside{
        flex: auto;
        margin: auto;
    }
        .aside h4{
            background: linear-gradient(to right, red, yellow);
            color: linear-gradient(to right, red, yellow);
            padding: 10px;
            text-transform: uppercase;
            
        }
        .aside img{
            width: auto;
            height: auto;
        }
            .publicidad{
                width: auto;
                height: auto;
            }
.footer{
    background: #000;
    display: flex;
    justify-content: center;
    margin-top: 10px;

}
    .pie{
        text-align: center;
        justify-content: center;
        margin-top: 1%;
        margin-bottom: 1%;
    }
    .pie a{
        color: #fff;
        font-size: 11px;
        text-transform: uppercase;
        padding: 0px 10px;
        letter-spacing: 4px;

    }

    
.margen-interno{
    padding: 0px 50px;

}


@-ms-viewport{width:device-width;}
    /*Vamos a hacer que de 0 a 800px aplique estos estilos*/
    @media all and (max-width:800px){

    
    .line-1{
        font-size: 250%;
    }
}
    @media all and (max-width:1120px){
        .section{
            flex-direction: column;
        }
        .line-1{
            font-size: 250%;
        }
        .menu{
            flex-direction: column;
            height: auto;
        }
        .aside{
            display: flex;
            justify-content: center;

        }
        h1{
            font-size: 15px;
        }
        .textoprincipal{
            height: 450px;
        }
        
    }
    @media all and (max-width:762px){
        .section{
            flex-direction: column;
        }
        .aside{
            display: flex;
            justify-content: center;
        }
        .menu{
            flex-direction: column;
            height: auto;
        }
    }
    @media all and (max-width:600px){
        .articulos{
            flex-direction: column;
        }
    }
    @media all and (max-width:400px){
        .aside{
            flex-direction: column;
        }
        .line-1{
            font-size: 142%;
        }
    }
